# Repositorio generado por MiniGit
.minigit/

# Ejecutable compilado
minigit
minigigt

# Logs
*.log

# Archivos temporales
*.tmp
*.bak

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
